# Пример файла .env

# Секретный ключ Django
SECRET_KEY=your_secret_key

# Режим отладки
DEBUG=True

# Название базы данных
DB_NAME=your_db_name

# Пользователь базы данных
DB_USER=your_db_user

# Пароль базы данных
DB_PASSWORD=your_db_password
